<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Bootstrap Icons, Might use my own CSS File?-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    
   
   

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Weight Monitor</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"> 
              <a class="nav-link active" href="/about">About Project</a>
            </li>
          </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 offset-7">
              <li class="nav-item"> 
                <a class="nav-link active" href="/profile" id="register-button">Profile</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link active" href="/login" id="login-button">Login</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link active" href="/register" id="register-button">Register</a>
              </li>
            </ul>
          </nav>

          <!--JS for flashing messages like invalid logins-->
          <div class="row col-6 offset-4" >
            {% for msg in get_flashed_messages() %}
              <h3 class="flash-msg">
                {{ msg }}
              </h3>
            {% endfor %}
          </div>

         

   {% block body%}

   {% endblock %}
    
</body>

</html>