{% extends 'base.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block body %}
<script src="../static/js/javascript.js"></script>

<div class="container-fluid" name="whole-page">

    <div class="row">
        <div class="col text-center">
            <div class="display-4">{{ user.fname }}'s profile</div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-5 offset-1">
            <div class="card-body">
                <h6 class="text-center">Weight for the last 5 days</h6>
                <canvas id="weight-chart"></canvas>
                <p id="weight-comment"></p>
            </div>
        </div>

        <div class="col-sm-4 offset-1">
            <div class="card-body">
                <h6 class="text-center">Caloric Intake</h6>
                <canvas id="calories-chart"></canvas>
                <p id="calories-comments"></p>  
            </div>
        </div>

    </div>
    

    <div class="row text-center mb-3 " name="weight-calore-buttons">
        <div class="col-2 offset-2">
            <div id="weight-button-p">
                <button class="btn btn-primary" id="add-weight">Add Weight</button>
            </div>
        </div>
        
        <div class="col-2 offset-4">
            <div id="calorie-button-p">
                <button class="btn btn-primary" id="add-calorie">Add Calorie</button>
            </div>
        </div>
    </div>

    <div class="row"></div>

    
    <div class="row mb-3 ">

        <div class="col-md-4 offset-1">
            <div class="card-body">
                <h6 class="text-center">Water Intake</h6>
                <canvas id="water-chart"></canvas>
            </div>
        </div>
            
        

        <div class="col-md-4 offset-2">
            
            
                <div class="text-center">
                    <div class="card">
                        <h2 class="card-title"></h2>
                            <img src="../static/img/BMI.png" alt="BMI">
                            <h2 id="bmi-height">Height:</h2>
                            <h2 id="bmi-weight">Weight: </h2>
                            <h2 id="bmi-bmi">BMI: </h2>
                            <h2 id="bmi-weight-status">Weight Status: </h2>
                            
                    </div>
                </div>
            
        </div>

    </div>

    <div class="row mb-3" name="water-button">
        <div class="col-2 offset-2" id="water-button-p">
            <button class="btn btn-primary" id="add-water">Add Water</button>
        </div>
        <div class="col" id="spacer">
            
        </div>
    </div>
   
</div>

<!--Weight Chart-->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!--Calorie Chart-->



{% endblock %}
