{% extends 'base.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block body %}
<script src="../static/js/javascript.js"></script>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h3>{{ user.fname }}'s profile</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-1">
            
            <div style="width: 50rem;">
                <div class="card-body">
                    <h2>Weight for the last 5 days</h2>
                    <canvas id="weight-chart"></canvas>
                       
                            <p id="weight-comment"></p>
                        
                        <p id="weight-button-p">
                            <button id="add-weight">Add Weight</button>
                        </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 offset-2">
            
            <div style="width: 30rem;">
                <div class="card-body">
                    <h2>Caloric Intake</h2>
                    <canvas id="calories-chart"></canvas>
                            <p id="calories-comments"></p>
                        <p id="calorie-button-p">
                            <button id="add-calorie">Add Calorie</button>
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-middle">

        <div class="col-md-4 offset-2">
            <div style="width: 30rem;">
                
                <div class="card-body">
                    <h2>Water Intake</h2>
                    <canvas id="water-chart"></canvas>
                        <p id="water-button-p">
                            <button id="add-water">Add Water</button>
                        </p>
                </div>
            </div>
        </div>

        <div class="col-md-5 offset-1">
            
            <div style="width: 30rem;">
                <div class="text-center">
                    <div class="card">
                        <h2 class="card-title"></h2>
                            <img src="../static/img/BMI.png" alt="BMI">
                            <h2 id="bmi-height">Height:</h2>
                            <h2 id="bmi-weight">Weight: </h2>
                            <h2 id="bmi-bmi">BMI: </h2>
                            <h2 id="bmi-weight-status">Weight Status: </h2>
                            
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <canvas id="test"></canvas>

            </p>
        </div>
    </div>
</div>

<!--Weight Chart-->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!--Calorie Chart-->



{% endblock %}
