{% extends 'base.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block body %}
<script src="../static/js/javascript.js"></script>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h3>{{ user.fname }}'s profile</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-1">
            
            <div style="width: 50rem;">
                <div class="card-body">
                    <h2>Weight for the last 5 days</h2>
                    <canvas id="weight-chart"></canvas>
                        {% for weight in whole_weights %}
                            <p>Date: {{weight.date}} Calories: {{weight.weight}} Comment: {{weight.comment}}</p>
                        {% endfor %}
                        <p id="weight-button-p">
                            <button id="add-weight">Add Weight</button>
                        </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 offset-2">
            
            <div style="width: 30rem;">
                <div class="card-body">
                    <h2>Caloric Intake</h2>
                    <canvas id="calories-chart"></canvas>
                        {% for calorie in whole_calories %}
                            <p>Date: {{calorie.date}} Calories: {{calorie.calories}} Comment: {{calorie.comment}}</p>
                        {% endfor %}
                        <p id="calorie-button-p">
                            <button id="add-calorie">Add Calorie</button>
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-middle">

        <div class="col-md-4 offset-2">
            <div style="width: 30rem;">
                
                <div class="card-body">
                    <h2>Water Intake</h2>
                    <canvas id="water-chart"></canvas>
                        <p id="water-button-p">
                            <button id="add-water">Add Water</button>
                        </p>
                </div>
            </div>
        </div>

        <div class="col-md-5 offset-1">
            
            <div style="width: 30rem;">
                <div class="text-center">
                    <div class="card">
                        <h2 class="card-title"></h2>
                            <img src="../static/img/BMI.png" alt="BMI">
                            <h2>{{bmi.height}}</h2>
                            <h2>{{bmi.weight}}</h2>
                            <h2>{{bmi.bmi}}</h2>
                            <h2>{{bmi.weight_status}}</h2>
                            
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Weight Chart-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>var ctx = document.getElementById("weight-chart").getContext("2d");
    new Chart(ctx, {
        type: "line",
        data: {
            labels: {{weights_dates | safe }},
            datasets:[{
                label: "Weights",
                data: {{weights}},
                fill: false,
                borderColor: "rgb(75,192,192)",
                lineTension: .5
            }]
        },
        options: {
            responsive: true
        }
    });
</script>


<!--Calorie Chart-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>var ctz = document.getElementById("calories-chart").getContext("2d");
    new Chart(ctz, {
        type: "pie",
        data: {
            labels: {{calories_dates | safe }},
            datasets:[{
                label: "Calories",
                data: {{calories}},
                fill: false,
                borderColor: "rgb(75,192,192)",
                backgroundColor: ["rgba(0, 255, 0, 0.5)","rgba(255, 0, 0, 0.5)"],
                
            }]
        },
        options: {
            responsive: true
        }
    });
</script>

<!--Water Chart-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>var ctz = document.getElementById("water-chart").getContext("2d");
    new Chart(ctz, {
        type: "doughnut",
        data: {
            labels: {{water_dates | safe }},
            datasets:[{
                label: "Water Intake",
                data: {{waters}},
                fill: false,
                backgroundColor: ["rgb(35,137,218)", "rgb(82.7, 82.7, 82.7,0.1)"],
                borderColor: "rgb(82.7, 82.7, 82.7)",
                
            }]
        },
        options: {
            responsive: true
        }
    });
</script>


{% endblock %}
